<h1>Admin Wallet: <%= current_admin.wallet_balance %></h1>
<h2>Loan Details</h2>
<p>User: <%= @loan.user.email %></p>
<p>Amount: <%= @loan.amount %></p>
<p>Interest Rate: <%= @loan.interest_rate %></p>
<p>Status: <%= @loan.status %></p>

<%= render 'form', loan: @loan %>
<%= link_to "Go to User", user_loan_path(@loan)%>
